@use "../util" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "main"
    "aside"
    "footer";

  &__main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    background-image: url("../../APP/img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-nav {
      display: flex;
      justify-content: space-between;
      // font-size: 1.5rem;
      align-items: center;

      &--logo {
        background-color: var(--yellow);
        padding-top: u.em(20);
        margin-left: 2em;
      }

      &--menu {
        margin-right: 1em;
      }
    }
    &-content {
      padding: 2em 3em;
      justify-self: center;
      width: 80%;

      &--yellow {
        color: var(--yellow);
      }

      &--btn {
        background-color: var(--yellow);
        color: hsl(0, 0%, 0%);
        padding: 0.75em 1.75em;
        border: none;
        cursor: pointer;
        font-size: u.rem(14);
        font-weight: 900;
        margin-top: 1em;
      }

      &--btn:hover,
      &--btn:focus {
        background-color: var(--light-yellow);
      }

      h2 {
        color: white;
        margin-bottom: 1em;
      }
      @media (min-width: u.em(675)) {
        display: flex;
        flex-direction: column;
        justify-content: center; // Center items vertically
        align-items: flex-start; // Center items horizontally
        width: 60%;
        min-height: 61vh;
      }
      @media (min-width: u.em(900)) {
        width: 40%;

      }

      // button {
      //   align-self: flex-start;
      // }
    }
  }

  &__aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3em;

    @media (min-width: u.em(675)) {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 2em;
    }

    &-wiget {
      @media (min-width: u.em(675)) {
        padding: 2em;
      }

      h2 {
        position: relative; // Required for positioning the pseudo-element
        display: inline-block; // Ensure the h2 element is inline-block
        margin-bottom: 1em;

        &::after {
          content: "";
          position: absolute;
          left: 20%; // Center the underline (50% width means 25% from each side)
          bottom: -0.2em; // Adjust the position below the text
          width: 50%; // Set the width of the underline to 50% of the text width
          height: u.em(2); // Set the thickness of the underline
          background-color: var(--yellow); // Set the color of the underline
        }
      }

      p {
        color: var(--gray);
        font-weight: 500;
        margin-bottom: 1em;
      }
    }
  }

  &__footer {
    grid-area: footer;
    background-color: hsl(0, 0%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-align: center;

    @media (min-width: u.em(675)) {
      // justify-content: space-between;
      text-align: left;
    }

    &-social {
      width: 100%;
      display: flex; // Use Flexbox to align items on the same line
      justify-content: center;
      flex-direction: column; // Center the social icons horizontally
      gap: 1em;
      i {
        font-size: 1.5em;
        margin: 0 0.5em;
      }
      &--logo {
        margin-bottom: 1.5em;

        img {
          opacity: 0.37;
        }
        @media (min-width: u.em(675)) {
          order: -1;
          margin: 0;
        }
      }

      @media (min-width: u.em(675)) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-content {
      width: 100%;
      opacity: 0.37;

      // img {
      //   margin: 1em;

      @media (min-width: u.em(675)) {
        margin: 0;
        margin-bottom: 0.5em;
      }
      &--legal {
        margin-top: 3em;
        font-weight: 500;
      }
    }

    p {
      font-weight: 500;
      // margin: 1em 0;
    }
  }


}
